@import url('reset.css');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana;
    background-image: url('../img/bgi-wall.png');
    height: 100%;
    line-height: 1.5;
    margin-top: 80px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-size: 22px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.l-flip {
    flex-direction: row-reverse;
}

.btn {
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.base {
    margin: 20px 0;
}

/* -----loading-begin----- */
#Loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

#LoadText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#LoadText span {
    display: inline-block;
    animation: 3s flip infinite;
    animation-delay: var(--delay);
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
        color: #F4ECDC;
    }

    50% {
        transform: rotateY(360deg);
        color: #EC7801;
    }

    100% {
        transform: rotateY(0deg);
        color: #F4ECDC;
    }
}

/* -----loading-end----- */

/* -----logo-begin----- */
a:hover .logo_b {
    display: none;
}

.logo_w {
    display: none;
}

a:hover .logo_w {
    display: block;
}

/* -----logo-end----- */

/* -----header-begin----- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav {
    background-color: #F4ECDC;
}

.nav .container {
    display: flex;
    justify-content: space-between;
}

.nav_head {
    display: flex;
    align-items: center;
}

.nav h1 {
    text-indent: -9999px;
}

.nav_list {
    display: flex;
    align-items: center;
    width: 600px;
    height: 80px;
}

.nav_item {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

/* 選最後兩個 */
.nav_item:nth-last-of-type(-n+2) {
    flex-basis: 50px;
    flex-grow: 0;
}

/* 排除最後兩個 */
.nav_item:not(:nth-last-of-type(-n+2)):hover::before {
    width: 80px;
}

.nav_item::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    width: 0;
    height: 3px;
    background-color: #643D2F;
    pointer-events: none;
    transition: .5s;
}

.nav_item i {
    font-size: 24px;
}

.nav_item a {
    display: block;
    line-height: 80px;
    text-decoration: none;
    color: #EC7801;
}

.nav_item:hover a {
    color: #643D2F;
}

.nav_count {
    position: absolute;
    top: -15px;
    left: 40px;
    color: red;
}

.nav_btn {
    display: none;
    align-items: center;
    font-size: 24px;
    color: #EC7801;
    text-decoration: none;
}

.nav_btn:hover {
    color: #643D2F;
}

/* -----header-end----- */

/* -----aside-begin----- */

.aside_bar {
    position: fixed;
    right: 0;
    top: 500px;
    transition: .8s;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.aside_bar a {
    display: block;
    text-align: center;
    margin: 0 10px 10px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 48px;
    color: #EC7801;

}

.aside_bar a:last-child {
    position: relative;
    background-color: #EC7801;
}

.aside_bar a:last-child::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    border: 15px solid;
    border-color: transparent transparent #F4ECDC transparent;
}

.aside_bar a:last-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    border: 15px solid;
    border-color: transparent transparent #EC7801 transparent;
}

.aside_bar a:hover {
    color: #643D2F;
}

.aside_bar a:last-child:hover {
    background-color: #643D2F;
}

.aside_bar a:last-child:hover::after {
    border-color: transparent transparent #643D2F transparent;
}

/* -----aside-end----- */

/* -----more-begin----- */
.base-more h3 {
    text-align: center;
    padding: 40px 0;
    color: #EC7801;
}

.more_list {
    display: flex;
}

.more_item {
    /* flex-grow: 1; */
    background-image: url('../img/product1.png');
    background-size: cover;
    background-position: center center;
    transition: .5s;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 250px;
}

.more_item+.more_item {
    background-image: url('../img/product2.png')
}

.more_item+.more_item+.more_item {
    background-image: url('../img/product3.png')
}

.more_item+.more_item+.more_item+.more_item {
    background-image: url('../img/product4.png')
}

.more_count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.more_count+.more_count {
    color: red;
    opacity: 0;
}

.more_item--active .more_count+.more_count {
    opacity: 1;
}

.more_item:hover .more_count {
    color: #EC7801;
}

/* -----more-end----- */

/* -----insta-begin----- */
.insta h3 {
    text-align: center;
    padding: 40px 0;
    color: #EC7801;
}

.insta {
    margin: 20px auto;
}

.insta_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.insta_item {
    position: relative;
    overflow: hidden;
}

.insta_item a {
    display: block;
}

.insta_item::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 300px;
    width: 300px;
    height: 300px;
    background-color: #643D2F;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.insta_item:hover:before {
    top: 0;
    opacity: .7;
}

.insta_item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url(../img/instagram-square-brands.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.insta_item:hover::after {
    opacity: 1;
}

/* -----insta-end----- */

/* -----footer-begin----- */
.footer {
    background-color: #F4ECDC;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer_head {
    display: flex;
    align-items: center;
    min-width: 50px;
}

.footer_head a img {
    width: 50px;
    height: 50px;
}

.footer_body {
    display: flex;
    align-items: center;
}

.footer_body .footer_list {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.footer_body .footer_item {
    padding: 10px 0;
    width: 50%;
}

.footer_body .footer_item:hover a {
    color: #643D2F;
}

.footer_foot .footer_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100%;
}

.footer_foot .footer_item {
    position: relative;
    margin-left: 10px;
    text-align: center;
    color: #EC7801;
    cursor: pointer;
}

.footer_foot .footer_item:first-child {
    cursor: auto;
}

.footer_foot .footer_item::before {
    font-family: "Font Awesome 6 Brands";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    height: 0;
    overflow: hidden;
    transition: .5s;
    line-height: 1;
}

.footer_foot .footer_item:nth-child(2)::before {
    content: "\f082";
    color: #385893;
}

.footer_foot .footer_item:nth-child(3)::before {
    content: "\f16d";
    color: #B42B50;
}

.footer_foot .footer_item:nth-child(4)::before {
    content: "\f3c0";
    color: #18B704;
}

.footer_foot .footer_item:hover::before {
    height: 100%;
}

.footer_item i {
    font-size: 30px;
}

.footer_item a {
    display: block;
    text-decoration: none;
    color: #EC7801;
}

/* -----footer-end----- */

/* -----member-begin----- */
.member {
    position: fixed;
    top: 0;
    z-index: 3;
    display: none;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.member_form {
    display: flex;
    position: relative;
    width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
}

.member_box {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 60px;
    background-color: #F4ECDC;
}

.member_box label {
    margin-top: 30px;
    transition: .5s;
}

.member_box div {
    display: flex;
    flex-direction: column;
}

.member_box div:hover label {
    transform: translateY(-15px);
}

.member_box input[type="text"] {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: transparent;
}

.member_box input[type="password"] {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #000;
    background-color: transparent;
}

.member_box input[type="submit"] {
    align-self: center;
    width: 60px;
    margin-top: 20px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    background-color: #EC7801;
    color: #F4ECDC;
    cursor: pointer;
}

.member_box input[type="submit"]:hover {
    background-color: #643D2F;
}

.member_box a {
    text-align: right;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #333;
}

.member_slide {
    position: absolute;
    height: 100%;
    background-color: #EC7801;
    color: #F4ECDC;
    transition: .5s;
    right: 0;
}

.member_slide h4+h4,
.member_slide p+p,
.member_slide .btn+.btn {
    display: none;
}


.member_slide p {
    font-size: 24px;
    text-align: left;
    margin: 20px 0;
}

.member_slide .btn {
    margin: 0 auto;
    width: 60px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #F4ECDC;
    color: #EC7801;
}

.member_slide .btn:hover {
    background-color: #643D2F;
    color: #F4ECDC;
}

.btn-close {
    position: absolute;
    padding: 5px 10px;
    z-index: 1;
    top: 5px;
    right: 5px;
    font-size: 25px;
}

/* -----member-end----- */

/* -----banner-begin----- */
.base-banner {
    margin: 0;
}

.base-banner img {
    width: 100%;
    height: auto;
    animation: s1 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes s1 {
    0% {
        opacity: 0;
        transform: translateY(-100px) scale(0);
    }

    70% {
        transform: translateY(30px) scale(1.2);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* -----banner-end----- */

/* -----rwd-begin(max-width:1319.98px)----- */
@media screen and (max-width: 1319.98px) {

    /* -----insta-begin----- */
    .insta_item {
        width: 250px;
        height: 250px;
    }

    /* -----insta-end----- */
}

/* -----rwd-end(max-width:1319.98px)----- */

/* -----rwd-begin(max-width:1199.98px)----- */
@media screen and (max-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }

    /* -----navbar-begin----- */
    .nav_head {
        margin-left: 20px;
    }

    .nav_btn {
        display: flex;
        height: 80px;
        margin-right: 20px;
    }

    .nav_list {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .nav_item {
        width: 80px;
    }

    .nav_body {
        position: absolute;
        top: 80px;
        width: 100%;
        transition: .5s;
        transform: translateX(100%);
        opacity: 0;
        background-color: rgba(0, 0, 0, .6);
    }

    .nav_count {
        top: -20px;
        left: 50px;
    }

    /* 將會員/收藏排在最上 */
    .nav_item:nth-last-of-type(-n+2) {
        order: -1;
    }

    /* -----navbar-end----- */

    /* -----instr-begin----- */
    .more_list {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* -----instr-end----- */

}

/* -----rwd-end(max-width:1199.98px)----- */

/* -----rwd-begin(max-width:959.98px)----- */
@media screen and (max-width: 959.98px) {

    /* -----member-begin----- */
    .member_form {
        width: 600px;
        margin-top: 50px;
    }

    .member_box {
        width: 300px;
        padding: 20px 30px;
    }

    .member .js-mbactive {
        transform: translateX(-300px);
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:959.98px)----- */

/* -----rwd-begin(max-width:768px)----- */
@media screen and (max-width: 768px) {

    /* -----aside-begin----- */
    .aside_bar {
        display: none;
    }

    /* -----asdie-end----- */

    /* -----footer-begin----- */
    .footer_foot .footer_list {
        width: 250px;
    }

    .footer_body .footer_list {
        width: 230px;
    }

    /* -----footer-end----- */

    /* -----member-begin----- */
    .member_form {
        flex-direction: column;
        align-items: center;
    }

    .member_slide {
        height: 435px;
        right: 150px;
        top: 285px;
    }

    .member .js-mbactive {
        transform: translateY(0);
        top: 0;
    }

    .member_slide.js-mbactive {
        height: 280px;
    }

    .btn-close {
        right: 150px;
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:768px)----- */

/* -----rwd-begin(max-width:575.98px)----- */
@media screen and (max-width: 575.98px) {

    .nav_item {
        height: 60px;
    }

    .nav_item a {
        line-height: 60px;
    }

    /* -----loading-begin----- */
    #LoadText {
        font-size: 18px;
    }

    /* -----loading-begin----- */

    /* -----footer-begin----- */
    .footer .container {
        align-items: center;
        flex-direction: column;
    }

    .footer_head {
        margin-top: 10px;
    }

    .footer_body {
        margin: 10px;
    }

    .footer_body .footer_item {
        text-align: center;
    }

    .footer_foot .footer_list {
        justify-content: center;
    }

    /* -----footer-end----- */

    /* -----member-begin----- */
    .member_box label {
        margin-top: 20px;
    }

    .member_form {
        width: 100%;
    }

    .member .member_slide {
        left: 50%;
        transform: translateX(-50%);
    }

    .member_slide.js-mbactive {
        height: 300px;
    }

    .btn-close {
        right: 120px;
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:575.98px)----- */

@media screen and (max-width: 540px) {
    .member_slide {
        top: 275px;
    }

    .member_slide.js-mbactive {
        height: 290px;
    }
}

/* -----rwd-begin(max-width:415px)----- */
@media screen and (max-width: 415px) {

    /* -----member-begin----- */
    .member_form {
        width: 100%;
    }

    .member_slide {
        height: 420px;
        top: 275px;
        right: 25px;
    }

    .member_slide.js-mbactive {
        height: 290px;
    }

    .btn-close {
        right: 60px;
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:415px)----- */

/* -----rwd-begin(max-width:376px)----- */
@media screen and (max-width: 376px) {

    /* -----member-begin----- */
    .member_form {
        margin-top: 10px;
    }

    .member_box {
        padding: 5px 20px;
    }

    .member_slide {
        height: 390px;
        top: 260px;
    }

    .member_slide.js-mbactive {
        height: 250px;
    }

    .btn-close {
        right: 35px;
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:376px)----- */
/* -----rwd-begin(max-width:360px)----- */
@media screen and (max-width: 360px) {
    .member_slide {
        top: 250px;
    }

    /* -----member-begin----- */
    .btn-close {
        top: 0;
        right: 25px;
    }

    /* -----member-end----- */
}

/* -----rwd-end(max-width:360px)----- */
/* -----rwd-begin(max-width:280px)----- */
@media screen and (max-width: 280px) {

    /* -----member-begin----- */
    .btn-close {
        right: -8px;
    }
    /* -----member-end----- */
}

/* -----rwd-end(max-width:280px)----- */

/* -----js-begin----- */
.js-block {
    display: block;
}

.js-none {
    display: none;
}

.js-hide {
    visibility: hidden;
}

.js-show {
    opacity: 1;
    pointer-events: auto;
}

.js-bgc {
    background-color: rgba(244, 236, 220, .6);
}

.js-btnbgc {
    background-color: #EC7801;
}

.js-rotate {
    transform: rotate(45deg);
}

.js-mbactive {
    transform: translateX(-400px);
}

.js-mbactive h4+h4,
.js-mbactive p+p,
.js-mbactive .btn+.btn {
    display: block;
}

.js-mbactive h4,
.js-mbactive p,
.js-mbactive .btn {
    display: none;
}

.js-mbactive.member_slide {
    background-color: #643D2F;
}

.js-mbactive.member_slide .btn:hover {
    background-color: #EC7801;
}

.js-slide {
    opacity: 0;
    transition: 1s;
}

.js-slide+.js-slide {
    transition-delay: .2s;
}

.js-slide+.js-slide+.js-slide {
    transition-delay: .4s;
}

.js-slide+.js-slide+.js-slide+.js-slide {
    transition-delay: .6s;
}

.js-slide-l {
    transform: translateX(-30%);
}

.js-slide-r {
    transform: translateX(30%);
}

.js-slide-b {
    transform: translateY(30%);
}

.js-active {
    transform: translate(0);
    opacity: 1;
}

/* -----js-end----- */