/* -----detail-begin----- */
.base-detail h2{
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    color: #EC7801;
    font-family: monospace;
    white-space: nowrap;
    width: 1ch;
    overflow: hidden;
    /* steps最後一格由100%時呈現 */
    animation: 5s typing steps(16, end) forwards;
    animation-delay: 1s;
    position: relative;
}

@keyframes typing {
    0%{
        width: 1ch;
    }
    100%{
        width: 17ch;
    }
}

.base-detail h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: #643D2F;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* opacity: 1; */
    animation: 1s cursor steps(2, jump-none) infinite;
}

@keyframes cursor {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.base-detail span{
    display: block;
    padding: 20px 0;
    font-size: 24px;
    color: #333;
}

.base-detail p{
    padding: 0 40px;
    line-height: 2.5;
}
/* -----detail-end----- */

/* -----news-begin----- */
.base-news h3{
    text-align: center;
    padding: 40px 0;
    color: #EC7801;
}

.news_list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -75px;
}

.news_item {
    width: 350px;
    text-align: center;
    margin-right: 75px;
    margin-bottom: 20px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-5deg);
}

.news_body {
    height: 100%;
    padding: 10px 20px;
    background-color: #F4ECDC;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateY(90deg);
    transition: .8s;
}

.news_item img {
    transition: .8s;
}

.news_item:hover .news_body{
    transform: rotateY(0deg);
    opacity: 1;
}

.news_item:hover img {
    transform: rotateY(-90deg);
    opacity: 0;
}

.news_body h4 {
    margin: 20px 0;
}

.news_body p {
    text-align: left;
}

.news_day {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ccc;
}

.news_btn {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #643D2F;
    color: #F4ECDC;
}

.news_btn:hover {
    background-color: #EC7801;
    color: #F4ECDC;
}

/* -----news-end----- */

/* -----rwd-begin(max-width:1319.98px)----- */
@media screen and (max-width: 1319.98px) {

    /* -----news-begin----- */
    .news_list {
        margin-right: 0;
        justify-content: center;
    }

    .news_item {
        margin-right: 20px;
    }
    /* -----news-end----- */
}

/* -----rwd-end(max-width:1319.98px)----- */