/* -----faq-begin----- */

.base-faq h3 {
    padding: 20px 0;
    text-align: center;
    color: #EC7801;
}

.faq_item {
    position: relative;
    overflow: hidden;
}

.faq_item:hover {
    cursor: pointer;
}

.faq_item .btn-close {
    top: -10px;
    right: 0;
    padding: 0;
    font-size: 60px;
    transition: .8s;
}

.faq_item .btn-collapse {
    position: absolute;
    top: -10px;
    padding: 0;
    font-size: 60px;
    transition: .8s;
}

.faq_item:hover .btn-close,
.faq_item:hover .btn-collapse {
    transform: rotate(360deg);
}

.faq_item div {
    display: flex;
    background-color: #F4ECDC;
}

.faq_num {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    padding: 40px 100px;
    background-color: #EC7801;
}

.faq_num::before {
    content: '';
    display: block;
    border: 25px solid;
    border-color: transparent transparent transparent #EC7801;
    position: absolute;
    top: 40px;
    right: -40px;
}

.faq_item:nth-child(even) .faq_num::before {
    border-color: transparent #EC7801 transparent transparent;
    right: 240px;
}

.faq_item:nth-child(even) .btn-close {
    right: 1160px;
}

.faq_item h5 {
    width: 100%;
    padding: 20px 60px;
    align-self: center;
}

.faq_a {
    transition: .5s;
    background-color: #EC7801;
    overflow: hidden;
    max-height: 0;
}

/* -----faq-end----- */

/* -----info-begin----- */
.base-info h3 {
    margin: 20px 0;
    text-align: center;
    color: #EC7801;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.info input {
    height: 50px;
    margin-bottom: 20px;
}

.info textarea {
    height: 200px;
    resize: none;
}

.info input,
.info textarea {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #F4ECDC;
}

.info .btn-ok {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F4ECDC;
    background-color: #EC7801;
}

.info .btn-ok:hover {
    background-color: #643D2F;
}

@media screen and (max-width: 1199.98px) {
    .faq_item h5 {
        font-size: 20px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    .faq_item h5 {
        font-size: 16px;
    }

    .faq_num {
        padding-left: 60px;
        padding-right: 60px;
    }

    .faq_item .btn-close,
    .faq_item .btn-collapse {
        font-size: 36px;
    }

    .faq_item:nth-child(even) .faq_num::before {
        right: 165px;
    }

    .faq_a {
        font-size: 14px;
    }
}