/* -----carousel-begin----- */
.base-carousel{
    position: relative;
}

.base-carousel .container {
    position: relative;
    overflow: hidden;
}

.carousel_list {
    position: relative;
    left: 0;
    display: flex;
    width: 4800px;
    transition: .5s;
}

.carousel_item {
    position: relative;
    width: 1200px;
}

.base-carousel .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 5px solid;
    border-color: #EC7801 #EC7801 transparent transparent;
    background-color: transparent;
}

.btn.carousel_prev {
    left: 10px;
    transform: rotate(-135deg);
}

.btn.carousel_next {
    right: 10px;
    transform: rotate(45deg);
}

.base-carousel .btn:hover{
    border-color: #643D2F #643D2F transparent transparent;
}

.base-carousel::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: #333 transparent transparent transparent;
    background-color: transparent;
    animation: arrow 2s linear infinite;
}

.base-carousel::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: #333 transparent transparent transparent;
    background-color: transparent;
    animation: arrow 2s linear infinite;
}

.dot_list {
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    z-index: 2;
}

.dot_item {
    padding: 10px;
    cursor: pointer;
}

.dot_btn {
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: 0;
    /* background-color: transparent; */
    cursor: pointer;
}

@keyframes arrow{
    0%{
        opacity: 1;
        transform: translateY(0);
        border-color: #F4ECDC transparent transparent transparent;
    }
    50%{
        opacity: 1;
        transform: translateY(30px);
        border-color: #333 transparent transparent transparent;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        border-color: #F4ECDC transparent transparent transparent;
    }
}

/* -----carousel-end----- */

/* -----intro-begin----- */
.base-intro h3{
    text-align: center;
    margin: 40px 0;
    color: #EC7801;
}

.intro_item {
    display: flex;
    overflow: hidden;
}

.intro_item+.intro_item {
    margin-top: 20px;
}

.intro_item_content {
    padding: 20px 40px;
}

.base-intro .intro_item h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #EC7801;
}

.base-intro .intro_item h4 {
    margin-bottom: 20px;
    color: #643D2F;
}

/* -----intro-end----- */

/* -----rwd-begin(max-width:1199.98px)----- */
@media screen and (max-width: 1199.98px) {
    .intro_item {
        flex-direction: column;
    }
}
/* -----rwd-end(max-width:1199.98px)----- */