

/* -----carousel-begin----- */
.base-carousel .container {
    position: relative;
}

.base-carousel .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border: 25px solid;
    background-color: transparent;
}

.btn.carousel_prev {
    border-color: transparent #F4ECDC transparent transparent;
    left: 0;
}

.btn.carousel_next {
    border-color: transparent transparent transparent #F4ECDC;
    right: 0;
}

.btn.carousel_prev:hover {
    border-color: transparent #EC7801 transparent transparent;
}

.btn.carousel_next:hover{
    border-color: transparent transparent transparent #EC7801;
}

/* -----carousel-end----- */

/* -----intro-begin----- */
.base-intro h3{
    text-align: center;
    margin: 40px 0;
    color: #EC7801;
}

.intro_item {
    display: flex;
}

.intro_item+.intro_item {
    margin-top: 20px;
}

.intro_item_content {
    padding: 20px 40px;
}

.base-intro .intro_item h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #EC7801;
}

.base-intro .intro_item h4 {
    margin-bottom: 20px;
    color: #643D2F;
}

/* -----intro-end----- */