
h1{
    color: red;
}

h1:hover{
    color: blue;
}

/* .circle{
    width: 60px;
    height: 60px;
    background: #000;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
} */

