/* -----peoduct-begin----- */
.base-product h3 {
    text-align: center;
    padding: 20px 0;
    color: #EC7801;
}

.base-product .btn_list {
    padding-top: 20px;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -75px;
}

.product_item {
    text-align: center;
    margin-top: 20px;
    margin-right: 75px;
}

.product_item a {
    text-decoration: none;
}

.product_pic {
    overflow: hidden;
    margin-bottom: 20px;
}

.product_item img {
    background-color: #F4ECDC;
    transition: .8s;
}

.product_item h4 {
    margin-bottom: 20px;
    color: #333;
}

.product_item p {
    color: #643D2F;
}

.product_item:hover img {
    transform: scale(1.3);
}

.product_item:hover h4 {
    color: #643D2F;
}

.product_item:hover p {
    color: #EC7801;
}

/* -----peoduct-end----- */

/* -----btn-begin----- */
.btn_list {
    display: flex;
    justify-content: center;
}

.btn_item {
    width: 25%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_item .btn {
    padding: 0 20px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #F4ECDC;
    background-color: #EC7801;
}

.btn_item .btn:hover {
    background-color: #643D2F;
}

/* -----btn-end----- */

/* -----rwd-begin(max-width:1319.98px)----- */
@media screen and (max-width: 1319.98px) {

    /* -----product-begin----- */
    .product_list  {
        margin-right: 0;
        justify-content: center;
    }

    .product_item {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* -----product-end----- */
}

/* -----rwd-end(max-width:1319.98px)----- */

/* -----rwd-begin(max-width:767.98px)----- */
@media screen and (max-width: 767.98px) {
    /* -----btn-begin----- */
    .btn_list {
        flex-wrap: wrap;
    }

    .btn_item {
        width: 50%;
        margin-bottom: 20px;
    }
    /* -----btn-end----- */
}
/* -----rwd-end(max-width:767.98px)----- */