/* -----peoduct-begin----- */
.base-product h3 {
    text-align: center;
    padding: 20px 0;
    color: #EC7801;
}

.base-product .btn_list {
    padding-top: 20px;
}

.product_list {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Burger-beef:checked ~ .burger_beef {
    display: flex;
}

#Burger-beef:checked ~ .btn_list label[for="Burger-beef"] span {
    color: #F4ECDC;
    background-color: #643D2F;
}

#Burger-pork:checked ~ .burger_pork {
    display: flex;
}

#Burger-pork:checked ~ .btn_list label[for="Burger-pork"] span {
    color: #F4ECDC;
    background-color: #643D2F;
}

#Burger-chicken:checked ~ .burger_chicken {
    display: flex;
}

#Burger-chicken:checked ~ .btn_list label[for="Burger-chicken"] span {
    color: #F4ECDC;
    background-color: #643D2F;
}

#Burger-vegetable:checked ~ .burger_vegetable {
    display: flex;
}

#Burger-vegetable:checked ~ .btn_list label[for="Burger-vegetable"] span {
    color: #F4ECDC;
    background-color: #643D2F;
}

.product_item {
    text-align: center;
    margin-top: 20px;
}

.product_item a {
    text-decoration: none;
}

.product_pic {
    overflow: hidden;
    margin-bottom: 20px;
}

.product_item img {
    background-color: #F4ECDC;
    transition: .8s;
}

.product_item h4 {
    margin-bottom: 20px;
    color: #333;
}

.product_item p {
    color: #643D2F;
}

.product_item:hover img {
    transform: scale(1.3);
}

.product_item:hover h4 {
    color: #643D2F;
}

.product_item:hover p {
    color: #EC7801;
}

/* -----peoduct-end----- */

/* -----btn-begin----- */
.btn_list {
    display: flex;
    justify-content: center;
}

.btn_tab {
    padding: 10px 20px;
    display: inline-block;
    background-color: #EC7801;
    cursor: pointer;
}

.btn_tab:hover {
    color: #F4ECDC;
}
/* -----btn-end----- */

/* -----rwd-begin(max-width:1319.98px)----- */
@media screen and (max-width: 1319.98px) {

    /* -----product-begin----- */
    .product_list  {
        margin-right: 0;
        justify-content: center;
    }

    .product_item {
        margin-left: 10px;
        margin-right: 10px;
    }
    /* -----product-end----- */
}

/* -----rwd-end(max-width:1319.98px)----- */

/* -----rwd-begin(max-width:575.98px)----- */
@media screen and (max-width: 575.98px) {
    /* -----btn-begin----- */
    .btn_tab {
        padding: 10px 10px;
    }
    /* -----btn-end----- */
}
/* -----rwd-end(max-width:575.98px)----- */

/* -----rwd-begin(max-width:321px)----- */
@media screen and (max-width: 321px) {
    /* -----btn-begin----- */
    .btn_tab {
        padding: 5px;
        font-size: 14px;
    }
    /* -----btn-end----- */
}
/* -----rwd-end(max-width:321px)----- */