/* -----btn-begin----- */
.btn_list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn_item {
    width: 25%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_item .btn {
    padding: 0 20px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: #F4ECDC;
    background-color: #EC7801;
}

.btn_item .btn:hover {
    background-color: #643D2F;
}

/* -----btn-end----- */

/* -----news-begin----- */
.news_list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -75px;
}

.news_item {
    width: 350px;
    text-align: center;
    margin-right: 75px;
    margin-bottom: 20px;
}

.news_body {
    padding: 10px 20px;
    background-color: #F4ECDC;
}

.news_body h4 {
    margin: 20px 0;
}

.news_body p {
    text-align: left;
}

.news_day {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ccc;
}

.news_btn {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #643D2F;
    color: #F4ECDC;
}

.news_btn:hover {
    background-color: #EC7801;
    color: #F4ECDC;
}

/* -----news-end----- */

/* -----rwd-begin(max-width:1319.98px)----- */
@media screen and (max-width: 1319.98px) {

    /* -----news-begin----- */
    .news_list {
        margin-right: 0;
        justify-content: space-between;
    }

    .news_item {
        margin-right: 0;
    }

    .news_item+.news_item {
        margin-left: 20px;
    }

    /* -----news-end----- */
}

/* -----rwd-end(max-width:1319.98px)----- */

/* -----rwd-begin(max-width:767.98px)----- */
@media screen and (max-width: 767.98px) {
    .news_list {
        justify-content: center;
    }

    /* -----btn-begin----- */
    .btn_list {
        flex-wrap: wrap;
    }

    .btn_item {
        width: 50%;
        margin-bottom: 20px;
    }

    /* -----btn-end----- */
}

/* -----rwd-end(max-width:767.98px)----- */

@media screen and (max-width: 575.98px) {
    .news_item+.news_item {
        margin-left: 0;
    }
}